.ch-grid {
	display: block;
	text-align: center;
	width: 100%;
	padding-top:30px;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
}

.main{
//	position:absolute;
	margin-left:10%;
	background-color:#dfdfdf;
	overflow-y:auto;
}

.fadeback{
	float:right;
	width:30px;
	height:30px;
	text-align:center;
	color:#000;
	opacity:0.5;
	font-weight:900;
	font-family:"Source Sans Pro";
	font-size:20px;
	cursor:pointer;
}

.fadeback:hover{
	transition: opacity 1s;
	opacity:1;
}
