.img1{
	position:relative;
	width: 100%;
	height:100%;
}

.post .caption p {
	font-size: 3em; 
}

#page-wrap{
	position:absolute;
	margin:10% 0% 0% 10%;
	height:18%;
	width:80%;
	background-color: #dfdfdf;
	overflow-x:auto;
	overflow-y:auto;
}

#page-wrap .post .caption {
	background-color: #fff;
	opacity:0.8;
	position: absolute;
	color: #fff;
	z-index: 1
	opacity: 0;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;	
		transition: all 300ms ease-out;
}

#page-wrap .post .simple-caption {
	height: 70px;
	width: 100%;
	z-index: 0;
	display: block;
	text-align: center;
}

#page-wrap .post:hover .simple-caption {
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}
tr { 
	vertical-align: top;
}

#title {
	position: absolute;
	top:10%;
	margin-left:10%;
	width: 210%;
	text-align:center;
	font-family:"Roboto Condensed";
	font-size:16px;
	color:#009999;
}

.arr2{
	position: relative;
	left: 210px;
	bottom:15px;
	font-size: 40px;
}
.horiz{
	position: absolute;
	left: 490px;
}

.post {
	position:relative;
	border: 3px solid #000;
	border-radius:10px;
	cursor: pointer;
	width: 300px;
	text-transform: uppercase;
	overflow: hidden;
	margin-right:50px;
}

.up{
	position:relative;
	margin:4% 0% 4% 5%;
}
.down{
	position:relative;
	top:40%;
	margin:4% 0% 4% 5%;
}

.post-container{
	width:100%;
	height:100%;
}

/*#home:target ~ #post .caption #firstpro,
#portfolio:target ~ #post .caption #secpro,
#about:target ~ #post .caption #thirpro,
#contact:target ~ #post .caption #fourpro{
	background: #000;
	color: #fff;
}
*/
.panel1{
	position:absolute;
	width: 100%;
	min-height: 100%;
	z-index:15;
	background-color: #fff;
	opacity:0.95;
	box-shadow: 4px -4px 4px rgba(0,0,0,0.2);
	margin-left: -1000%;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	}
.panel1:target{
	margin-left: 0%;
	background-color:rgba(224,238,238);
}

.prodesc{
	visibility: hidden;
}

.content{
	width:70%;
	margin:0 auto;

}
.content article{
	position: absolute;
	top: 1%;
	max-height: 22%;
	max-width: 90%;
	overflow-y: auto;
	
}
.content h2{
	font-size: 30px;
	font-family:"Source Sans Pro";
	padding: 10px 0px 0px 0px;
	margin-top: 22px;
	color: #009999;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.content p{
	font-size: 16px;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	padding: 10px;
	color: #000;
	display: inline-block;
	padding: 10px;
	margin: 3px 0px;
}

.content li{
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

nav 
{
	position: absolute;
	left: 10px;
	width: 4em;
	top: 3%;
	height: 90%;
	padding: 0px;
	max-height:400px;
    min-height:200px;
}

nav .link{
	display: block;
	height: 30%;
	text-align:center;
	color: #999;
	font-size: 2.20em;
	line-height: 2.5em;
	text-decoration: none;
	
	-webkit-transition: color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out;
	-o-transition: color .5s ease-in-out;
	transition: color .5s ease-in-out;
}

nav .link:hover { color: #444; }

nav  a:last-child { border-bottom: 0px; }

.link label
{
	position: absolute;
	left: 50px;
	color: #FFFFFF;
	font-family:"Source Sans Pro";
	font-size:15px;
	white-space: nowrap;
	margin-top: 10px;
	opacity: 0;
	display: inline-block;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

 .link span:hover ~ label
{
	transition:left color .5s;
	color: #009999;
	opacity: 1;
	left: 70px;
}

.titlelink{
	position: absolute;
	left: 10px;
	width: 4em;
	top: 10%;
	height: 90%;
	padding: 0px;
	display: block;
	height: 30%;
	text-align: center;
	color: #707070;
	font-size: 2.20em;
	line-height: 2.5em;
	text-decoration: none;
	-webkit-transition: color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out;
	-o-transition: color .5s ease-in-out;
	transition: color .5s ease-in-out;
}

.titlelink:hover { color: #FEFEFE; }

.titlelink label
{
	position: absolute;
	left: 50px;
	color: #000000;
	font-family:"Source Sans Pro";
    font-weight:500;
    font-size:20px;
	white-space: nowrap;
	margin-top: 10px;
	padding: 0px 10px 0px 10px;
	line-height: 3.5em;
	opacity: 0;
	display: inline-block;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

 .titlelink span:hover ~ label
{
	opacity: 1;
	left: 80px;
	top:300px;
}